html
{
	background: linear-gradient(lightgray,darkgray);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-attachment: fixed;
}
h1
{
	background-color: purple;
}
p
{
	border-style:groove;
	padding: 5px;
	font-family: cursive, "Ink Free";
	font-weight: initial;
	font-size: 18px;
}
